* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-titles {
    margin: 0;
    padding: 0;
}

li img {
    padding: 0;
    margin: 0;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: auto;
}

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 9;
    background-color: rgb(44, 167, 224);
    color: white;
}



.sidebar ul {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
    margin-top: 5%;
    margin-left: 5%;
    padding: 20px;
    
}

.sidebar ul li {
    font-size: clamp(0.6rem, 3vw, 1.8rem);
    list-style-type: none;
}

.sidebar ul img {
    position: relative;
    top: 6.5px;
    height: 2rem;
    width: 2rem;
}

.sidebar ul h1 {
    font-size: clamp(1rem, 5vw, 3rem);
}

.header {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    grid-template: 1fr 1fr / 2fr 1fr;
    height: clamp(100px, 100%, 600px);
    position: relative;
    /*box-shadow: 15px 15px 20px 20px rgba(0, 0, 0, 0.45);*/
}

.header::after {
    content: "";
    width: 150%;
    box-shadow: 4px 5px 10px 5px rgba(0, 0, 0, 0.10);
}

.header-left {
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.header-left div {
    display: grid;
    margin-left: 3%;
}

.header-left img {
    position: relative;
    top: 6px;
    height: 2rem;
    width: 2rem;
    grid-row: 1;
}

.header-left label {
    grid-row: 1;
}

.header-left input[type="search"] {
    width: clamp(300px, 20vw, 1200px);
    height: 3rem;
    padding: 1rem;
    font-size: 1.7rem;
    margin-left: 1%;
    grid-row: 1;
}

.header-right {
    display:grid;
    grid-template-columns: 10% 10% 10%;
    gap: 60px;
    padding: 1rem;
    font-size: 2rem;
    align-items: center;
    
}

.header-right img,
.header-right p {
    margin: 0;
    margin-left: 40%;
}

.header-right img:nth-child(1){
    height: 2rem;
    width: 2rem;
    margin-left: 50%;

}

.header-right img:nth-child(2) {

    height: 4rem;
    width: 4rem;
}



.header-bottom-left {
    display: grid;
    grid-template-columns: clamp(100px, 10%, 200px) clamp(200px, 40%, 400px);
    align-items: center;
    width: clamp(300px, 100%, 1200px);
    
}


.header-bottom-left img {
    margin-left: 30%;
    height: 4rem;
    width: 4rem;
}

.header-bottom-left p {
    margin-left: clamp(20px, 4%, 30px);
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
}

.header-bottom-left p:nth-child(2){
    width: clamp(300px, 15vw, 600px);
    font-size: clamp(0.7rem, 5vw, 2rem);
}

.header-bottom-right {
    display: flex;
    align-items: center;
    
}

.header-bottom-right button {
    color: white;
    background-color: rgb(44, 167, 224);
    border-radius: 30px;
    border-style: none;
    
    height: clamp(24px, 100%, 48px);
    width: clamp(60px, 100%, 124px);
    font-size: 1.1rem;
    padding: 12px 30px;
    margin-left: 7%;
}

.main-content {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 9;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    /*background-color: azure;*/
}

.project-contents {
    display: grid;
    grid-template-rows: 0.5fr 6fr;
    grid-row: 1 / 5;

}

.project-contents h2 {
    margin-left: 5%;
    margin-top: 2%;
   /* overflow: auto;*/
}

.cards {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
    margin-left: 5%;
}

.card {
    display: grid;
    gap: 5px;
    /*align-self: start;*/
    background-color: white;
    color: black;
    
    grid-template-rows: 0.8fr 5fr 0.6fr;
    height: clamp(100px, 100%, 200px);
    width: clamp(100px, 90%, 500px);
    padding: 20px;
    margin: 1%;

    border-radius: 5px;
    box-shadow: 4px 5px 10px 5px rgba(0, 0, 0, 0.10);

    border-left: 6px solid rgb(245, 191, 45);


}

.card div {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.card button {
    border-style: none;
    background-color: white;

}


.card h2,
.card p {
    grid-column: 1;
    margin: 0;
    padding: 0;
}

.news-contents {
    display: grid;
    grid-template-rows: 0.6fr 4fr 0.5fr 2fr 0.25fr;
   
    grid-row: 1 / 5;
    

}

.news-contents h2 {
    margin: 0;
    grid-column: 1;
}

.news-contents > h2 {
    justify-self: start;
  
    margin-top: 5%;
    
    position: relative;
    left: clamp(15px, 15%, 120px);
}

.announcements, 
.trending {
    display: grid;
    background-color: white;
    grid-column: 1;
    justify-self: center;

    width: clamp(150px, 80%, 400px);
    height: clamp(200px, 100%, 600px);

    padding: 20px;

    border-radius: 8px;

    box-shadow: 4px 5px 10px 5px rgba(0, 0, 0, 0.10);
}

.announcements {
    grid-row: 2 / 3;
    padding: 1px;
    
}

#newsfeed {
    display: grid;
}

.news-item {
    width: clamp(60px, 100%, 300px);
    height: clamp(100px, 95%, 450px);
    margin: 0;
    padding: 1rem;
    list-style-type: none;
    

}

.news-item h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 1%;
    font-size: clamp(1.2rem, 1.2vw, 1.5rem);
}

.news-item p {
    font-size: clamp(0.6rem, 0.8vw, 1.5rem);
}

#middle-news-item {
    border-bottom:2px solid rgba(0, 0, 0, 0.30);
    border-top: 2px solid rgba(0, 0, 0, 0.30);
}

.trending {
    grid-row: 4 / 5;
    
}

.trendfeed {
    display: grid;
    grid-template: repeat(auto-fit, 1fr) / 1fr;

    gap: 10px;
    
    list-style-type: none;
}

.trendfeed li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
}

.trend-item {
    display: grid;
    align-self: center;
    grid-template-rows: 1.1rem 1.1rem;
    gap: 3px;
}

.trendfeed li p {
    font-size: clamp(0.7rem, 0.8vw, 1.5rem);
    line-height: clamp(0.4rem, 1vw, 0.9rem);
    align-self: center;
}

.trendfeed li button {
    border-radius: 50%;
    border-style: none;
    background-color: azure;
}



#trend-header {
    grid-row: 3 / 4;
}

